.wrapper {
  width: 100%;
  overflow: hidden; }

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .bottom__box {
    width: 40%;
    height: 150px;
    background: #d6d6d6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom__box-txt {
    -ms-flex-item-align: center;
    align-self: center; }
  .bottom__box-arrow img {
    -webkit-transform: rotate(-90deg); }
  .bottom__media {
    margin: 0 3% 3% 0; }

.first-slide {
  background: #fff;
  height: 100vh;
  display: flex !important;
  justify-content: space-around;
  align-items: center; }
  .first-slide__txt {
    width: 30%; }
  .first-slide__txt h1 {
    content: "";
    display: block;
    width: 150px;
    border-top: 2px solid #000;
    font-size: 50px; }

.second-slide {
  background: #dacccc;
  height: 100vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.third-slide {
  background: #b2b8c0;
  height: 100vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.fourth-slide {
  background: #c3bdc9;
  height: 100vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.container-fluid-about {
  width: 100%; }

.container-about {
  width: 85%;
  margin: 4% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .container-about__txt {
    display: flex;
    flex-wrap: wrap; }
  .container-about__txt-top {
    width: 100%; }
  .container-about__txt-top h1 {
    font-size: 26px; }
  .container-about__txt-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  .container-about__txt-bottom-right {
    width: 50%; }
  .container-about__txt-bottom-left {
    width: 40%; }
  .container-about__txt-bottom-left h2 {
    font-size: 20px;
    margin-left: 10%; }
  .container-about__txt-bottom-left h2::before {
    content: "";
    display: block;
    width: 150px;
    border-top: 1px solid #000;
    margin-top: 4%;
    margin-left: -11%;
    margin-bottom: 3%; }
  .container-about__middle {
    align-self: center;
    margin: 5% auto;
    width: 65%; }
  .container-about__middle__title h2 {
    margin-left: 20%; }
  .container-about__middle__list-item {
    display: flex;
    align-items: flex-start;
    margin-top: 5%; }
  .container-about__middle__list-item p {
    text-align: left;
    margin-left: 10%; }
  .container-about__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .container-about__bottom-left p::after {
    content: "";
    display: block;
    width: 50px;
    border-top: 1px solid #000;
    margin-top: 10%; }
  .container-about__bottom-right p {
    margin-top: 5%; }

.container-fluid-cer {
  width: 100%; }

.container-cer {
  width: 100%; }
  .container-cer__card {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: white;
    margin-bottom: 5%;
    flex-wrap: wrap; }
  .container-cer__title {
    width: 60%;
    margin: 5% auto 3% auto; }
  .container-cer__title h3 {
    margin-left: 20%; }
  .container-cer__card-item {
    width: 35%;
    height: 350px;
    margin-top: 3%;
    border: 1px solid silver;
    padding: 3% 0 5% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .container-cer__card-item-txt h5 {
    padding: 2% 0; }
  .container-cer__card-item h5::after {
    content: "";
    display: block;
    width: 70px;
    margin-top: 2%;
    border-top: 2px solid #000; }

.link a {
  color: #000; }

.link {
  border: none;
  border-left: 30px solid silver;
  display: flex;
  justify-content: flex-end; }

text {
  fill: #000;
  font-family: PTSerif;
  font-size: 1cm;
  text-anchor: middle;
  cursor: pointer; }

.wrap {
  width: 100%; }

main {
  width: 100%; }

.main-container {
  width: 65%;
  margin: 0 auto; }
  .main-container__title {
    margin-top: 7%;
    width: 40%;
    margin-left: 10%; }
  .main-container__top {
    display: flex;
    justify-content: space-between;
    margin-top: 7%; }
  .main-container__top-left {
    width: 40%; }
  .main-container__top-right {
    width: 45%; }
  .main-container__top-right p {
    margin-bottom: 10%; }
  .main-container__top-right h2 {
    margin-bottom: 5%; }
  .main-container__bottom {
    display: flex;
    justify-content: space-between;
    margin: 7% 0; }
  .main-container__bottom-left {
    width: 40%; }
  .main-container__bottom-right {
    width: 45%; }
  .main-container__bottom-right p {
    margin-bottom: 3%; }
  .main-container__bottom-right h3 {
    margin-top: 10%;
    margin-bottom: 1%; }

.box {
  background: silver;
  width: 180px;
  padding: 30px 0;
  transform: rotate(-90deg);
  margin-top: 16%; }

.box p {
  margin-left: 24px; }

button {
  all: unset; }

.group {
  position: relative;
  margin-bottom: 45px; }

.group input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #000; }

.group input:focus {
  outline: none; }

/* LABEL ======================================= */
.group label {
  color: #000;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
.group input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #000; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 315px; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #000; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

.container-fluid-colection {
  width: 100%; }

.container-col {
  width: 100%; }
  .container-col__title {
    width: 95%;
    margin: 5% auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 7%; }
  .container-col__title-left {
    width: 50%;
    margin-left: 12%; }
  .container-col__title-left h2 {
    font-size: 45px; }
  .container-col__title-left h3 {
    text-align: center;
    font-size: 24px; }
  .container-col__title p {
    transform: rotate(90deg);
    font-size: 12px; }
  .container-col__main {
    width: 100%;
    background: #bbbbbb; }
  .container-col__main-card {
    padding: 1%;
    width: 14%;
    height: 200px;
    display: flex;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .container-col__main-card:nth-last-child(odd) {
    margin-top: 8%; }
  .container-col__main-card:not(.mt):nth-last-child(even) {
    margin-top: -5%; }
  .container-col__main-card p {
    margin-top: 9%;
    margin-left: -10%; }
  .container-col__main-card img {
    width: 120px;
    display: none; }
  .container-col__main-card:hover svg {
    display: none; }
  .container-col__main-card:hover img {
    display: block; }

.color {
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.mt {
  margin-top: 0; }

.right p {
  align-self: flex-start; }

.container__main-colection-card p {
  text-align: center; }

.container-fluid {
  width: 100%; }

.grow {
  width: 100% !important; }

.container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5%; }
  .container__title {
    margin: 5% 0 3% 10%;
    width: 200px; }
  .container__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .container__main__card {
    width: 45%;
    height: 260px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
    padding: 7% 0;
    border: 1px solid silver; }
  .container__main__card p {
    margin-top: 10%; }

.left p {
  align-self: flex-start;
  margin-left: 5%; }

.left p::after {
  content: "";
  display: block;
  width: 47%;
  border-bottom: 2px solid #000; }

.right p {
  align-self: flex-end;
  margin-right: 5%; }

.right p::after {
  content: "";
  display: block;
  width: 47%;
  border-bottom: 2px solid #000;
  margin-left: 53%; }

.center p {
  align-items: center; }

.center p::after {
  content: "";
  display: block;
  width: 47%;
  border-bottom: 2px solid #000; }

.width img {
  width: 100%;
  margin-left: 6%; }

.center p {
  margin-top: 1%; }

.container-fluid-rep {
  width: 100%; }

.container-rep {
  width: 100%;
  overflow: hidden; }
  .container-rep__card {
    width: 100%;
    float: right; }
  .container-rep__title {
    width: 30%;
    margin: 4% 0;
    margin-left: 24%; }
  .container-rep__card-item {
    display: flex;
    flex-direction: column;
    margin: 7% 7% 0 0;
    padding-right: 5%;
    border-right: 45px solid silver;
    width: 85%; }
  .container-rep__card-item-title {
    display: flex;
    justify-content: space-between; }
  .container-rep__card-item-txt {
    margin-top: 5%; }
  .container-rep__card-item-txt p {
    margin-top: 3%; }
  .container-rep__card-item-txt p::after {
    content: "";
    display: block;
    width: 50px;
    border-bottom: 2px solid #000;
    margin-top: 1%; }
  .container-rep__card-item-social {
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: flex-end; }
  .container-rep__card-item-social a img {
    width: 24px; }

.block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7%; }

.block-txt {
  width: 50%; }

.block-contr {
  background: silver;
  width: 250px;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  margin-left: -6%;
  margin-top: 7%; }

.block-maps {
  border-left: 45px solid silver;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .block-maps__txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    text-align: end; }
  .block-maps__img {
    background: url(../../img/map.png);
    width: 60%;
    height: 350px; }

.wrap-sto {
  background: #dacccc; }

.container-fluid-sto {
  width: 100%; }

.container-sto {
  width: 90%;
  display: flex;
  justify-content: center;
  padding-top: 2%; }
  .container-sto__left {
    width: 40%;
    margin-right: 10%; }
  .container-sto__right {
    width: 30%;
    display: flex;
    flex-direction: column; }
  .container-sto__right a {
    align-self: flex-end;
    margin-bottom: 35%;
    color: #000; }
  .container-sto__right-txt {
    margin-bottom: 12%; }
  .container-sto__right-txt h1 {
    border-top: 1px solid black;
    margin-bottom: 3%;
    padding-top: 2%; }
  .container-sto__right-txt h4 {
    margin-top: 10%; }
  .container-sto__right-list {
    margin-bottom: 10%; }
  .container-sto__right-list h1 {
    border-top: 1px solid black;
    margin-bottom: 3%;
    padding-top: 2%; }
  .container-sto__right-list-item {
    display: flex;
    margin-bottom: 4%; }
  .container-sto__right-list-item h4 {
    width: 20%; }
  .container-sto__right-list-item p {
    width: 100%; }

.slider-for {
  width: 80% !important;
  margin: 0 auto; }
  .slider-for__img {
    display: flex !important;
    flex-direction: column;
    align-items: inherit;
    padding: 5%; }
  .slider-for__img img {
    width: 300px;
    margin-left: 30%; }

.slider-nav {
  width: 80% !important;
  margin: 0 auto; }

.item-first {
  width: 70px !important;
  height: 70px;
  background: #c3bdc9;
  margin-right: 30px;
  border-radius: 7px; }

.item-second {
  width: 70px !important;
  height: 70px;
  background: #cbeaee;
  border-radius: 7px; }

.item-third {
  width: 70px !important;
  height: 70px;
  background: #da98da;
  border-radius: 7px; }

.container-fluid-vid {
  width: 90%;
  margin: 0 auto; }

.container-vid {
  width: 100%; }
  .container-vid__title {
    width: 60%;
    margin: 5% auto 3% auto; }
  .container-vid__title h3 {
    margin-left: 20%; }
  .container-vid__title h1 {
    font-size: 60px; }
  .container-vid__card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /**/ }
    .container-vid__card__line-small {
      width: 22%;
      margin-top: 3%; }
    .container-vid__card__line-small-item {
      width: 100%; }
    .container-vid__card__line-small-item-img {
      background: url(../../img/pexels-photo-791157.jpeg);
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .container-vid__card__line-small-item-txt {
      width: 100%;
      margin-top: 7%; }
    .container-vid__card__line-large {
      width: 35%;
      margin-top: 3%; }
    .container-vid__card__line-large-item {
      width: 100%; }
    .container-vid__card__line-large-item-img {
      background: url(../../img/pexels-photo-994173.jpeg);
      height: 210px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .container-vid__card__line-large-item-txt {
      width: 100%;
      margin-top: 7%; }

.margin-left {
  margin-left: 24%; }

.margin-right {
  margin-right: 24%; }

.fancybox-video {
  display: none; }

.fancybox-nav {
  top: 50%;
  transform: translateY(-50%);
  height: 40%; }

.video-links {
  list-style: none;
  padding: 0; }

video {
  max-width: 640px; }

.title-default {
  margin-top: 4%;
  width: 50%;
  margin-left: 12%; }

.title-default h3::after {
  content: "";
  display: block;
  width: 250px;
  border-top: 1px solid #000;
  margin-left: 30%; }

.title-default h1::before {
  content: "";
  display: block;
  width: 250px;
  border-top: 1px solid #000; }

.title-default h1 {
  font-size: 45px; }

.title-default h3 {
  text-align: center;
  font-size: 24px; }

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: 350; }

header {
  position: absolute;
  z-index: 1000;
  width: 100%; }

.header-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 119px; }
  .header-container__left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1%; }
  .header-container__left a {
    color: #000; }
  .header-container__left-top {
    display: flex;
    justify-content: space-around; }
  .header-container__left-top-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .header-container__left-bottom-signIn {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly; }
  .header-container__right {
    background: #000;
    width: 70%;
    padding: 2% 0; }
  .header-container__right-navbar {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 61px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-container__right-navbar img {
    width: 25px;
    margin-right: 5px; }
  .header-container__right-navbar a {
    width: 22%;
    color: #fff;
    text-align: center;
    font-size: 11px; }

.mob-link {
  display: none; }

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.bottom__box {
  width: 40%;
  height: 150px;
  background: #d6d6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.bottom__box-txt {
  -ms-flex-item-align: center;
  align-self: center; }

.bottom__box-arrow img {
  -webkit-transform: rotate(-90deg); }

.bottom__media {
  margin: 0 3% 3% 0; }

.first-slide {
  background: #fff;
  height: 100vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.second-slide {
  background: #dacccc;
  height: 100vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.third-slide {
  background: #b2b8c0;
  height: 100vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.fourth-slide {
  background: #c3bdc9;
  height: 100vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav-burger {
  width: 25px;
  height: 23px;
  cursor: pointer;
  color: transparent;
  font-size: 0;
  background: url("../../img/icon-menu.svg") no-repeat;
  position: relative;
  top: 30px !important;
  left: 90%;
  z-index: 1;
  display: none; }

.nav-burger__checkbox {
  display: none; }

.nav-burger__checkbox:checked ~ .nav-burger {
  background-image: url("../../img/icon-cross.svg"); }

.nav-burger__checkbox:checked ~ .header-container__right-navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 20px;
  width: 100%; }

.nav-burger__checkbox:checked ~ .header-container__right-navbar {
  display: flex;
  position: absolute;
  justify-content: baseline !important;
  top: 119px;
  height: calc(100vh - 119px);
  left: 0;
  background: white;
  width: 100%; }

@media screen and (max-width: 1160px) {
  .header-container__left {
    width: 45%; }
  .header-container__right {
    width: 55%; }
  .slick-slide img {
    display: block;
    width: 90%; } }

@media screen and (max-width: 900px) {
  .header-container__left {
    width: 70%; }
  .header-container__right {
    width: 15%; }
  .header-container__left-top {
    height: 100%; }
  .header-container__left-bottom-info {
    display: none; }
  .header-container__left-top-logo {
    display: flex;
    align-items: center; }
  .header-container__left-top-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .nav-burger {
    display: block;
    position: relative; }
  .header-container__right-navbar a {
    display: none; } }

@media screen and (max-width: 769px) {
  .container-col__main-card {
    width: 20%; }
  .container-col__title p {
    transform: rotate(90deg);
    font-size: 12px;
    margin-bottom: 10%; }
  .second-slide {
    display: flex !important;
    justify-content: center; }
  .nav-burger {
    left: 46%; }
  .bottom__box {
    width: 50%; }
  .big-slide {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .big-txt {
    width: 85%;
    margin: 0 auto; }
  .big-txt h2 {
    margin-left: 45%; }
  .big-txt h3 {
    margin-left: 50%;
    margin-bottom: 3%; }
  .container__main__card {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .container__main__card img {
    width: 100%;
    margin-left: 6%; }
  .center img {
    width: 70%; }
  .container-cer {
    width: 100%; }
    .container-cer__card-item {
      width: 42%; } }

@media screen and (max-width: 576px) {
  .header-container__left {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .header-container__left-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .header-container__left-top-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .header-container__left-top-logo {
    margin-top: 10px; }
  .nav-burger {
    left: 36%; }
  .bottom__box {
    width: 70%;
    height: 120px; }
  .big-slide {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .big-txt {
    width: 85%;
    margin: 0 auto; }
  .big-txt h2 {
    margin-left: 45%; }
  .big-txt h3 {
    margin-left: 50%;
    margin-bottom: 3%; }
  .container__main__card {
    width: 100%;
    height: 260px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
    padding: 7% 0;
    border: 1px solid silver; }
  .container__main__card img {
    width: 70%; }
  .container__main__card p {
    margin-top: 3%; }
  .container-about__txt-bottom {
    display: flex;
    flex-direction: column; }
  .container-about__txt-bottom-left {
    width: 100%; }
  .container-about__txt-bottom-right {
    width: 100%; } }

@media screen and (max-width: 426px) {
  .header-container__right {
    width: 20%; }
  .header-container__right-navbar a {
    font-size: 16px !important; }
  .container-col__main-card {
    width: 40%; }
  .bottom__box {
    width: 100%; }
  .bottom__media {
    display: none; }
  .first-slide__txt {
    margin-bottom: 6%;
    margin-left: 10%; }
  .first-slide__txt h1 {
    font-size: 27px; }
  .first-slide__txt h2 {
    font-size: 16px; }
  .first-slide__txt h3 {
    font-size: 15px; }
  .first-slide__img {
    margin-left: 10%; }
  .first-slide__img img {
    width: 260px; }
  .second-slide__txt {
    margin-bottom: 6%;
    margin-left: 5%; }
  .second-slide__txt h1 {
    font-size: 27px; }
  .second-slide__txt h2 {
    font-size: 16px; }
  .second-slide__txt h3 {
    font-size: 15px; }
  .second-slide__img img {
    width: 160px; }
  .third-slide__txt {
    margin-bottom: 6%;
    margin-left: 5%; }
  .third-slide__txt h1 {
    font-size: 27px; }
  .third-slide__txt h2 {
    font-size: 16px; }
  .third-slide__txt h3 {
    font-size: 15px; }
  .third-slide__img img {
    width: 160px; }
  .fourth-slide__txt {
    margin-bottom: 6%; }
  .fourth-slide__txt h1 {
    font-size: 27px; }
  .fourth-slide__txt h2 {
    font-size: 16px; }
  .fourth-slide__txt h3 {
    font-size: 15px; }
  .fourth-slide__img {
    margin-left: 24%; }
  .fourth-slide__img img {
    width: 160px; }
  .big-txt h2 {
    margin-left: 36%; }
  .big-txt h3 {
    margin-left: 43%;
    margin-bottom: 3%; }
  .container-cer {
    width: 100%; }
    .container-cer__card-item {
      width: 100%; }
  .link {
    order: 10 !important; }
  .title-default {
    margin: 4% auto;
    width: 70%;
    margin-left: 2%; }
  .title-default h3::after {
    content: "";
    display: block;
    width: 150px;
    border-top: 1px solid #000;
    margin-left: 30%; }
  .title-default h1::before {
    content: "";
    display: block;
    width: 150px;
    border-top: 1px solid #000; }
  .title-default h1 {
    font-size: 35px; }
  .title-default h3 {
    text-align: center;
    font-size: 16px; } }

@media screen and (max-width: 330px) {
  .header-container__left-info {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header-container__left-top-info {
    display: flex;
    flex-direction: column;
    align-items: center; } }
