* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none; }

.wrapper {
  width: 100%;
  overflow: hidden; }

header {
  position: absolute;
  z-index: 1000;
  width: 100%; }

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .header-container__left {
    width: 30%;
    display: flex;
    justify-content: center;
    padding-top: 2%; }
  .header-container__left-logo {
    display: flex;
    align-items: center; }
  .header-container__left-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
  .header-container__left-info a {
    color: #000; }
  .header-container__right {
    background: #000;
    width: 70%;
    padding: 2% 0; }
  .header-container__right-navbar {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 61px;
    align-items: center; }
  .header-container__right-navbar a {
    width: 22%;
    color: #fff;
    text-align: center;
    font-size: 11px; }

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .bottom__box {
    width: 40%;
    height: 150px;
    background: #d6d6d6;
    display: flex;
    justify-content: space-around;
    align-items: stretch; }
  .bottom__box-txt {
    align-self: center; }
  .bottom__box-arrow img {
    -webkit-transform: rotate(-90deg); }
  .bottom__media {
    margin: 0 3% 3% 0; }

.first-slide {
  background: #fff;
  height: 100vh;
  display: flex !important;
  justify-content: space-around;
  align-items: center; }

.second-slide {
  background: #dacccc;
  height: 100vh;
  display: flex !important;
  justify-content: space-around;
  align-items: center; }

.third-slide {
  background: #b2b8c0;
  height: 100vh;
  display: flex !important;
  justify-content: space-around;
  align-items: center; }

.fourth-slide {
  background: #c3bdc9;
  height: 100vh;
  display: flex !important;
  justify-content: space-around;
  align-items: center; }
