* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: 350; }

.wrapper {
  width: 100%;
  overflow: hidden; }

header {
  position: absolute;
  z-index: 1000;
  width: 100%; }

.header-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 119px; }
  .header-container__left {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 2%; }
  .header-container__left-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-container__left-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .header-container__left-info a {
    color: #000; }
  .header-container__right {
    background: #000;
    width: 70%;
    padding: 2% 0; }
  .header-container__right-navbar {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 61px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-container__right-navbar a {
    width: 22%;
    color: #fff;
    text-align: center;
    font-size: 11px; }

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .bottom__box {
    width: 40%;
    height: 150px;
    background: #d6d6d6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom__box-txt {
    -ms-flex-item-align: center;
    align-self: center; }
  .bottom__box-arrow img {
    -webkit-transform: rotate(-90deg); }
  .bottom__media {
    margin: 0 3% 3% 0; }

.first-slide {
  background: #fff;
  height: 100vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .first-slide__txt h1 {
    content: "";
    display: block;
    width: 150px;
    border-top: 2px solid #000;
    font-size: 50px; }

.second-slide {
  background: #dacccc;
  height: 100vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.third-slide {
  background: #b2b8c0;
  height: 100vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.fourth-slide {
  background: #c3bdc9;
  height: 100vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.container-fluid-about {
  width: 100%; }

.container-about {
  width: 85%;
  margin: 4% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .container-about__txt {
    display: flex;
    flex-wrap: wrap; }
  .container-about__txt-top {
    width: 100%; }
  .container-about__txt-top h1 {
    font-size: 26px; }
  .container-about__txt-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  .container-about__txt-bottom-right {
    width: 50%; }
  .container-about__txt-bottom-left {
    width: 40%; }
  .container-about__txt-bottom-left h2 {
    font-size: 20px;
    margin-left: 10%; }
  .container-about__txt-bottom-left h2::before {
    content: "";
    display: block;
    width: 150px;
    border-top: 1px solid #000;
    margin-top: 4%;
    margin-left: -11%;
    margin-bottom: 3%; }
  .container-about__middle {
    align-self: center;
    margin: 5% auto;
    width: 65%; }
  .container-about__middle__title h2 {
    margin-left: 20%; }
  .container-about__middle__list-item {
    display: flex;
    align-items: flex-start;
    margin-top: 5%; }
  .container-about__middle__list-item p {
    text-align: left;
    margin-left: 10%; }
  .container-about__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .container-about__bottom-left p::after {
    content: "";
    display: block;
    width: 50px;
    border-top: 1px solid #000;
    margin-top: 10%; }
  .container-about__bottom-right p {
    margin-top: 5%; }

.container-fluid-cer {
  width: 100%; }

.container-cer {
  width: 100%; }
  .container-cer__card {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: white;
    margin-bottom: 5%; }
  .container-cer__title {
    width: 60%;
    margin: 5% auto 3% auto; }
  .container-cer__title h3 {
    margin-left: 20%; }
  .container-cer__title h1::before {
    content: "";
    display: block;
    width: 100px;
    margin-bottom: 1%;
    border-top: 2px solid #000; }
  .container-cer__title h3::after {
    content: "";
    display: block;
    width: 300px;
    margin-top: 1%;
    border-bottom: 2px solid #000; }
  .container-cer__card-item {
    width: 40%;
    height: 500px;
    margin-top: 3%;
    border: 1px solid silver;
    padding: 3% 0 5% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .container-cer__card-item-txt h5 {
    padding: 2% 0; }
  .container-cer__card-item h5::after {
    content: "";
    display: block;
    width: 70px;
    margin-top: 2%;
    border-top: 2px solid #000; }

.link a {
  color: #000; }

.link {
  border: none;
  border-left: 30px solid silver;
  display: flex;
  justify-content: flex-end; }

text {
  fill: #000;
  font-family: PTSerif;
  font-size: 1cm;
  text-anchor: middle;
  cursor: pointer; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(197, 183, 183, 0.479); }

.modal-content {
  width: 32%;
  margin: 4% auto; }

.modal-content img {
  width: 400px;
  height: 565px; }

.close {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.wrap {
  width: 100%; }

main {
  width: 100%; }

.main-container {
  width: 70%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .main-container__title {
    margin-top: 7%;
    width: 40%; }
  .main-container__title h3 {
    text-align: center; }
  .main-container__title h3::after {
    content: "";
    width: 110px;
    display: block;
    border-bottom: 1px solid #000;
    margin: 0 auto; }
  .main-container__title h1 {
    content: "";
    display: block;
    width: 200px;
    border-top: 1px solid #000; }
  .main-container__info {
    margin-top: 5%;
    display: flex;
    justify-content: space-around; }
  .main-container__info-left h4::after {
    content: "";
    width: 60px;
    display: block;
    border-bottom: 1px solid #000;
    margin: 0 auto; }
  .main-container__info-right h3 {
    margin-top: 10%; }
  .main-container__box {
    margin-top: 10%;
    background: #e0bbbb;
    transform: rotate(-90deg);
    width: max-content;
    padding: 2%;
    margin-left: 16%; }
  .main-container__txt {
    width: 50%;
    align-self: flex-end;
    margin-bottom: 5%; }

.container-fluid-colection {
  width: 100%; }

.container-col {
  width: 100%; }
  .container-col__title {
    width: 95%;
    margin: 5% auto;
    display: flex;
    justify-content: space-between; }
  .container-col__title-left {
    width: 50%;
    margin-left: 12%; }
  .container-col__title-left h2 {
    font-size: 45px; }
  .container-col__title-left h3 {
    text-align: center;
    font-size: 24px; }
  .container-col__title-left h3::after {
    content: "";
    display: block;
    width: 250px;
    border-top: 2px solid #000;
    margin-left: 37%; }
  .container-col__title-left h2::before {
    content: "";
    display: block;
    width: 250px;
    border-top: 2px solid #000; }
  .container-col__title p {
    transform: rotate(90deg);
    font-size: 12px; }
  .container-col__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #bbbbbb; }
  .container-col__main-line {
    width: 95%;
    display: flex;
    justify-content: space-between; }
  .container-col__main-line:not(:first-child) {
    margin-top: -6%; }
  .container-col__main-card {
    padding: 1%;
    width: 12%;
    height: 200px;
    display: flex;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .container-col__main-card p {
    margin-top: 9%;
    margin-left: -10%; }
  .container-col__main-card img {
    width: 120px;
    display: none; }
  .container-col__main-card:hover svg {
    display: none; }
  .container-col__main-card:hover img {
    display: block; }
  .container-col__main-card:nth-child(2n) {
    margin-top: 10%; }

.container__main-colection-card p {
  text-align: center; }

.container-fluid {
  width: 100%; }

.grow {
  width: 100% !important; }

.container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5%; }
  .container__title {
    margin: 5% 0 3% 10%;
    width: 200px; }
  .container__title h1::before {
    content: "";
    display: block;
    width: 140px;
    border-top: 2px solid #000; }
  .container__title h1::after {
    content: "";
    display: block;
    width: 60px;
    border-top: 2px solid #000;
    float: right; }
  .container__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .container__main__card {
    width: 45%;
    height: 260px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7% 0;
    border: 1px solid silver; }
  .container__main__card p {
    margin-top: 10%; }
  .container__main__card p::after {
    content: "";
    display: block;
    width: 50px;
    border-bottom: 2px solid #000; }
