.container-fluid {
    width: 100%;
}

.grow {
    width: 100% !important;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;


    &__title {
        margin: 5% 0 3% 10%;
        width: 200px;
    }



    &__main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }




    &__main__card {
        width: 45%;
        height: 260px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: inherit;
        align-items: center;
        padding: 7% 0;
        border: 1px solid silver;
    }

    &__main__card p{
        margin-top: 10%;
    }



}

.left p {
    align-self: flex-start;
    margin-left: 5%;
}

.left p::after {
    content: "";
    display: block;
    width: 47%;
    border-bottom: 2px solid #000;
}

.right p {
    align-self: flex-end;
    margin-right: 5%;
}
.right p::after {
    content: "";
    display: block;
    width: 47%;
    border-bottom: 2px solid #000;
    margin-left: 53%;
}

.center p {
    align-items: center;
}
.center p::after {
    content: "";
    display: block;
    width: 47%;
    border-bottom: 2px solid #000;
}

.width img{
    width: 100%;
    margin-left: 6%;
}

.center p{
    margin-top: 1%;
}