.container-fluid-rep{
    width: 100%;
}

.container-rep{
    width: 100%;
    overflow: hidden;

    &__card{
        width: 100%;
        float: right;
    }

    &__title{
        width: 30%;
        margin: 4% 0;
        margin-left: 24%;
    }

    

    &__card-item{
        display: flex;
        flex-direction: column;
        margin: 7% 7% 0 0;
        padding-right: 5%;
        border-right: 45px solid silver;
        width: 85%;
    }

    &__card-item-title{
        display: flex;
        justify-content: space-between;
    }

    &__card-item-txt{
        margin-top: 5%;
    }

    &__card-item-txt p{
        margin-top: 3%;
    }

    &__card-item-txt p::after{
        content: "";
        display: block;
        width: 50px;
        border-bottom: 2px solid #000;
        margin-top: 1%;
    }

    &__card-item-social {
        margin-top: 3%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__card-item-social a img{
        width: 24px;
    }
}

.block{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-bottom: 7%;
}

.block-txt{
    width: 50%;
}

.block-contr{
    background: silver;
    width: 250px;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    margin-left: -6%;
    margin-top: 7%;
}

.block-maps{
    border-left: 45px solid silver;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35%;
        text-align: end;
    }

    &__img{
        background: url(../../img/map.png);
        width: 60%;
        height: 350px;
    }
}


