.wrap-sto {

    background: #dacccc;
}

.container-fluid-sto {
    width: 100%;
}

.container-sto {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 2%;


    &__left {
        width: 40%;
        margin-right: 10%;
    }



    &__right {
        width: 30%;
        display: flex;
        flex-direction: column;

    }

    &__right a {
        align-self: flex-end;
        margin-bottom: 35%;
        color: #000;
    }

    &__right-txt {
        margin-bottom: 12%;
    }

    &__right-txt h1 {
        border-top: 1px solid black;
        margin-bottom: 3%;
        padding-top: 2%;
    }

    &__right-txt h4{
        margin-top: 10%;
    }

    &__right-list {
        margin-bottom: 10%;
    }

    &__right-list h1 {
        border-top: 1px solid black;
        margin-bottom: 3%;
        padding-top: 2%;
    }

    &__right-list-item {
        display: flex;
        margin-bottom: 4%;
    }

    &__right-list-item h4 {
        width: 20%;
    }

    &__right-list-item p {
        width: 100%;
    }
}


.slider-for {
    width: 80% !important;
    margin: 0 auto;

    &__img {
        display: flex !important;
        flex-direction: column;
        align-items: inherit;
        padding: 5%;

    }

    &__img img {
        width: 300px;
        margin-left: 30%;
    }
}

.slider-nav {
    width: 80% !important;
    margin: 0 auto;
}

.item-first {
    width: 70px !important;
    height: 70px;
    background: #c3bdc9;
    margin-right: 30px;
    border-radius: 7px;
}

.item-second {
    width: 70px !important;
    height: 70px;
    background: #cbeaee;
    border-radius: 7px;
}

.item-third {
    width: 70px !important;
    height: 70px;
    background: #da98da;
    border-radius: 7px;
}

