.container-fluid-vid {
    width: 90%;
    margin: 0 auto;

}

.container-vid {
    width: 100%;

    &__title {
        width: 60%;
        margin: 5% auto 3% auto;
    }

    &__title h3 {
        margin-left: 20%;
    }
    &__title h1 {
        font-size: 60px;
    }

   

    &__card {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        &__line-small{
            width: 22%;
            margin-top: 3%;
        }

        &__line-small-item {
            width: 100%;
        }

        &__line-small-item-img {
            background: url(../../img/pexels-photo-791157.jpeg);
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__line-small-item-txt{
            width: 100%;
            margin-top: 7%;
        }
        /**/
        &__line-large{
            width: 35%;
            margin-top: 3%;
        }

        
        &__line-large-item {
            width: 100%;
        }

        &__line-large-item-img {
            background: url(../../img/pexels-photo-994173.jpeg);
            height: 210px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__line-large-item-txt{
            width: 100%;
            margin-top: 7%;
        }
    }

}













.margin-left{
    margin-left: 24%;
}

.margin-right{
    margin-right: 24%;
}


.fancybox-video {
    display: none;
}

.fancybox-nav {
    top: 50%;
    transform: translateY(-50%);
    height: 40%;
}

.video-links {
    list-style: none;
    padding: 0;

}

video {
    max-width: 640px;
}